:root{
	--headercolor:#333;
	--boxcolor:#333;
}
html,body{
	font-family: 'Baloo Tamma 2', cursive;
	font-size: 16px;
	margin:0;
	color:white;
}
img{
	max-width: 100%;
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	transition: all 0.7s;
	color:#0eb302;
}
/*Layout*/
#upper{/*https://drive.google.com/thumbnail?id=1s4QBtOKxE7K3VzHkG-uaHjrc01lA3g46*/
	background-image: url('https://drive.google.com/thumbnail?id=1s4QBtOKxE7K3VzHkG-uaHjrc01lA3g46');
	background-size: 100%;
	background-position: relative;
}
.header{
	display: flex;
	justify-content: space-around;
	font-size:1.5rem;
	align-items: center;
	transition: all 1s;
}
.icon{
	display: flex;
	align-items: center;
}
.addscroll{
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size:1.5rem;
	align-items: center;
	background-color: #555;
	position: fixed;
}

.first{
	display: grid;
	place-items:center;
}
.second{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-gap: 0px;
	background-color: black;
	place-items:center;
}/*
.second > #bar{
	background-color: #5c5959;
	width:100%;
	margin-bottom: 0px;
}*/
.second > .secondmain{
	margin-top: 0px;
	width:75%;
	display: grid;
	place-items:center;
}
.third > .thirdmain{
	margin-top: 0px;
	display: grid;
	place-items:center;
	color: black;
}
.five > .fivemain{
	margin-top: 0px;
	display: grid;
	place-items:center;
	color: black;
	padding-bottom: 2rem;
}
.fivemain > p{
	margin: 0;
	font-size: 1.5rem;
}

.secondmain > p{
	margin: 0;
	font-size: 2rem;
}
.thirdmain > p{
	margin: 0;
	font-size: 2rem;
}
.card{
	font-size: 1.5rem;
	margin:30px;
	border:2px solid green;
	border-radius: 10px;
}
.card > p{
	padding:0 50px;
	text-align: center;
}
#main > p{
	margin:0;
	font-size: 2rem;
}
hr{
	width: 10%;
	border: 2px solid #2dc455;
	border-radius: 2px;
}
#block1{
	margin:1rem;
	padding: 0.1em 1rem;
	font-size:2rem;
	/*opacity: 0.3;*/
	background-color: var(--boxcolor);
}
#block2{
	margin:1rem;
	padding: 0.3em;
	font-size: 1.5rem;
	/*opacity: 0.8;*/
	background-color: var(--boxcolor);
}
#brand{
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 2rem;
	color:#0eb302;
}
.selected_page{
	color:#0eb302;
}
#myphoto{
	border-radius: 50%;
	margin:20px auto;
	margin-top: 40px;
	width:350px;
	height:300px;
	/*height: auto;*/
}
h1{
	font-weight: normal;
	font-size: 3rem;
	padding: 0;
	margin:0;
	margin-top: 20px;
}
span{
	color:#2dc455;
}/*
#one{
	color:#cf3e34;
}
#two{
	color:#c98724;
}
#three{
	color:#56c232;
}
i{
	padding: 3px;
}*/
#education{
	text-align: center;
}
.fa-university{
	color:green;
}

.forth{
	background-color: black;
	/*border:3px solid purple;*/
	display: grid;
	place-items:center;
}
.cardx{
	margin:50px auto;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	/*border:3px solid red;*/
	width:60%;
	height:auto;
}
.code{
	border:1px solid white;
	border-radius: 10px;
	text-align: center;
}
.code > img{
	width:40%;
	height:40%;
}
.code p{
	margin:0;
	/*border:3px solid yellow;*/
}
p a{
	transition: all 0.5s;
	font-size: 1.2rem;
}
p a:hover{
	color:green;
}
/*@media all and (max-width: 600px){
	header{
		flex-direction: column;
	}
}*/
.fivemain > p > a{
	font-size: 1.5rem;
	color: black;
}
.fivemain > p > a:hover{
	font-size: 1.5rem;
	color: green;
}
.copyright{
	display: grid;
	place-items:center;
	background-color: #666;
	color:white;
	font-size: 1rem;
	padding-bottom: 20px;
}
.copyright > p{
	margin:0;
	margin-top: 5px;
}
@media all and (max-width: 800px){
	.cardx{
		width:50%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	#myphoto{
		width:250px;
		height:200px;
	}

}

@media all and (max-width: 700px){
	.header{
		font-size: 1.1rem;
	}
	
	
}
